@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container pt-2">
        <nav class="navbar navbar-expand-lg navbar-dark primary-color mt-5 mb-5">

        <!-- Navbar brand -->
        <a class="font-weight-bold white-text mr-4" href="#">Lorem Ipsum</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown mega-dropdown active">

                    <a class="nav-link dropdown-toggle  no-caret" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Kategorie</a>

                    <div class="dropdown-menu mega-menu v-2 row z-depth-1 white" aria-labelledby="navbarDropdownMenuLink1">

                        <div class="row mx-md-4 mx-1">

                            <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">


                                <ul class="caret-style pl-0">
                                    @foreach (var item in Model.Kategorie)
                                    {
                                        <li class="">
                                            <a class="menu-item" asp-page ="./Categories/Index" asp-route-sortOrder="" asp-route-currentFilter="" asp-route-currentCategory="@item.ID">
                                                @item.Nazwa
                                            </a>
                                        </li>
                                    }

                                </ul>

                            </div>


                        </div>

                    </div>

                </li>




            </ul>

            <!-- Links -->
            <!-- Search form -->
            <form class="search-form" role="search" method="get" asp-page="./Categories/Index">

                <div class="form-group md-form my-0 waves-light float-left">

                    <input type="text" class="form-control" placeholder="Szukaj" id="searchString" name="searchString">
                    
                </div> 
                <div class="form-group md-form my-0 waves-light float-right pt-2">

                <button type="submit" class="">
                    <i class="fas fa-search"></i>
                </button>

            </div>

            </form>


        </div>
        <!-- Collapsible content -->

    </nav>
    <div class="row ">

        <!-- Content -->
        <div class="col-lg-12">

            <!-- Products Grid -->
            <section class="section  pb-5">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-8 col-md-12 mb-3 pb-lg-2">

                        <!-- Image -->
                        <div class="view zoom z-depth-1">

                            <img src="https://mdbootstrap.com/img/Photos/Others/product1.jpg" class="img-fluid" alt="sample image">

                            <div class="mask rgba-white-light">

                                <div class="dark-grey-text d-flex align-items-center pt-4 ml-3 pl-3">

                                    <div>

                                        <a><span class="badge badge-danger">bestseller</span></a>

                                        <h2 class="card-title font-weight-bold pt-2"><strong>This is news title</strong></h2>

                                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                                        <a class="btn btn-danger btn-sm btn-rounded clearfix d-none d-md-inline-block">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Image -->
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <!-- Section: Categories -->
                        <section class="section">

                            <ul class="list-group z-depth-1">

                                @foreach (var item in Model.KatProd)
                                {
                                    <li class="list-group-item d-flex justify-content-between align-items-center">

                                        <a class="dark-grey-text font-small" asp-page="./Categories/Index" asp-route-currentCategory="@item.Id">

                                            @Html.DisplayFor(modelItem => item.Nazwa)
                                        </a>

                                        <a href=""></a><span class="badge badge-danger badge-pill">
                                            @item.ProduktyCount
                                        </span>
                                    </li>
                                }
                            </ul>
                        </section>
                        <!-- Section: Categories -->
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
                <!-- Section small products -->
                <section>

                    <!-- Grid row -->
                    <div class="row">
                        @{
                            for (int i = 0; i < 9; i++)
                            {
                                <!-- Grid column -->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <!-- Card -->
                                    <div class="card card-ecommerce">

                                        <!-- Card image -->
                                        <div class="view overlay">

                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/1.jpg" class="img-fluid"
                                                 alt="">

                                            <a>

                                                <div class="mask rgba-white-slight"></div>

                                            </a>

                                        </div>
                                        <!-- Card image -->
                                        <!-- Card content -->


                                        <div class="card-body">

                                            <!-- Category & Title -->
                                            <h5 class="card-title mb-1">
                                                <strong>
                                                    <a asp-page="./Products/Index" asp-route-productID="@Model.Produkty[Model.RandomList[i]].ID" class="dark-grey-text">
                                                       @Model.Produkty[Model.RandomList[i]].Nazwa
                                                    </a>
                                                </strong>
                                            </h5>

                                            <!-- Card footer -->
                                            <div class="card-footer pb-0">

                                                <div class="row mb-0">

                                                    <span class="float-left">
                                                        <strong>
                                                           @Model.Produkty[Model.RandomList[i]].Cena_brutto PLN
                                                        </strong>
                                                    </span>

                                                    <div class="float-right ml-5">

                                                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart" asp-page="./Cart/Index" asp-route-action="add" asp-route-id =" @Model.Produkty[Model.RandomList[i]].ID">
                                                            <i class="fa fa-shopping-cart "></i>
                                                        </a>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <!-- Card content -->

                                    </div>
                                    <!-- Card -->

                                </div>
                                <!-- Grid column -->
                            }
                        }
                    </div>
                    <!-- Grid row -->
                </section>
                <!-- Section small products -->
            </section>
            <!-- Products Grid -->
        </div>
        <!-- Content -->
    </div>
</div>