@page
@model Sklep.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!-- Main Container -->
<div class="container mt-5 pt-3">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color mt-5 mb-5">

        <!-- Navbar brand -->
        <a class="font-weight-bold white-text mr-4" href="#">Categories</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown mega-dropdown active">

                    <a class="nav-link dropdown-toggle  no-caret" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Kategorie</a>

                    <div class="dropdown-menu mega-menu v-2 row z-depth-1 white" aria-labelledby="navbarDropdownMenuLink1">

                        <div class="row mx-md-4 mx-1">

                            <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">


                                <ul class="caret-style pl-0">
                                    @foreach (var item in Model.Kategorie)
                                    {
                                        <li class="">
                                            <a class="menu-item" asp-route-sortOrder="" asp-route-currentFilter="" asp-route-currentCategory="@item.ID">
                                                @item.Nazwa
                                            </a>
                                        </li>
                                    }

                                </ul>

                            </div>


                        </div>

                    </div>

                </li>




            </ul>

            <!-- Links -->
            <!-- Search form -->
            <form class="search-form" role="search" method="get">

                <div class="form-group md-form my-0 waves-light float-left">

                    <input type="text" class="form-control" placeholder="Szukaj" id="searchString" name="searchString">
                    
                </div> 
                <div class="form-group md-form my-0 waves-light float-right pt-2">

                <button type="submit" class="">
                    <i class="fas fa-search"></i>
                </button>

            </div>

            </form>


        </div>
        <!-- Collapsible content -->

    </nav>

    <!-- Navbar -->
    <div class="row pt-4">

        <!-- Sidebar -->
        <div class="col-lg-3">

            <div class="">

                <!-- Grid row -->
                <div class="row">

                    <div class="col-md-6 col-lg-12 mb-5">

                        <!-- Panel -->
                        <h5 class="font-weight-bold dark-grey-text">
                            <strong>Order By </strong></h3>

                            <div class="divider"></div>

                            <p class="blue-text">
                            <a asp-page="./Index" asp-route-sortOrder="" asp-route-currentFilter="@Model.CurrentFilter" asp-route-currentCategory="@Model.CurrentCategory">
                                Default</a></p>

                            <p class="dark-grey-text">
                                <a asp-page="./Index" asp-route-sortOrder="price_asc" asp-route-currentFilter="@Model.CurrentFilter" asp-route-currentCategory="@Model.CurrentCategory">
                                    Price: low to high
                                </a></p>

                            <p class="dark-grey-text">
                                <a asp-page="./Index" asp-route-sortOrder="price_desc" asp-route-currentFilter="@Model.CurrentFilter" asp-route-currentCategory="@Model.CurrentCategory">
                                    Price: high to low
                                </a></p>

                    </div>

                    <!-- Filter by category -->
                    <div class="col-md-6 col-lg-12 mb-5">

                        <h5 class="font-weight-bold dark-grey-text">
                            <strong>Category</strong></h3>

                            <div class="divider"></div>

                            <!-- Radio group -->
                            <div class="form-group ">

                                <p class="dark-grey-text">
                                    <a asp-page="./Index" asp-route-currentCategory="0">
                                        Wszystkie
                                    </a>
                                </p>

                            </div>

                                @foreach (var item in Model.Kategorie)
                                {
                                <div class="form-group">

                                    <p class="dark-grey-text">
                                        <a asp-page="./Index" asp-route-currentCategory=@item.ID>
                                            @Html.DisplayFor(modelItem => item.Nazwa)
                                        </a>
                                    </p>
                                </div>
                                    }
                               




                            <!-- Radio group -->
                    </div>

                    <!-- Filter by category -->
                </div>
                <!-- Grid row -->

            </div>

        </div>
        <!-- Sidebar -->
        <!-- Content -->
        <div class="col-lg-9">

            <!-- Products Grid -->
            <section class="section pt-4">
                <div class="row">
                    <h5 class="font-weight-bold dark-grey-text pl-3">
                        @{
                            if(Model.CurrentCategory != 0)
                            {
                                @Model.Kategorie[Model.CurrentCategory - 1].Nazwa;
                            }
                            else
                            {
                               <span>Wszystkie produkty</span>
                            }
                        }
                        
                    </h5>
                </div>
                <!-- Grid row -->
                <div class="row">
                    @{
                        foreach (var p in Model.Produkty)
                        {

                            <!-- Grid column -->
                            <div class="col-lg-4 col-md-12 mb-4">
                                <!-- Card -->
                                <div class="card card-ecommerce">

                                    <!-- Card image -->
                                    <div class="view overlay">

                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/1.jpg" class="img-fluid"
                                             alt="">

                                        <a>

                                            <div class="mask rgba-white-slight"></div>

                                        </a>

                                    </div>
                                    <!-- Card image -->
                                    <!-- Card content -->


                                    <div class="card-body">

                                        <!-- Category & Title -->
                                        <h5 class="card-title mb-1">
                                            <strong>
                                                <a asp-page="../Products/Index" asp-route-productID="@p.ID" class="dark-grey-text">
                                                    @Html.DisplayFor(modelItem => p.Nazwa)
                                                </a>
                                            </strong>
                                        </h5>

                                        <!-- Card footer -->
                                        <div class="card-footer pb-0">

                                            <div class="row mb-0">

                                                <span class="float-left">
                                                    <strong>
                                                        @Html.DisplayFor(modelItem => p.Cena_brutto) PLN
                                                    </strong>
                                                </span>

                                                <div class="float-right ml-5">

                                                    <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart" asp-page="../Cart/Index" asp-route-action="add" asp-route-id =" @p.ID">
                                                        <i class="fa fa-shopping-cart "></i>
                                                    </a>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <!-- Card content -->

                                </div>
                                <!-- Card -->

                            </div>
                            <!-- Grid column -->
                        }
                    }

                </div>



                @{
                    var prevDisabled = !Model.Produkty.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.Produkty.HasNextPage ? "disabled" : "";
                }

                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex="@(Model.Produkty.PageIndex - 1)"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   asp-route-currentCategory ="@Model.CurrentCategory"
                   class="btn btn-primary @prevDisabled">
                    Previous
                </a>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex="@(Model.Produkty.PageIndex + 1)"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   asp-route-currentCategory ="@Model.CurrentCategory"
                   class="btn btn-primary @nextDisabled">
                    Next
                </a>

            </section>
            <!-- Products Grid -->

        </div>
        <!-- Content -->

    </div>

</div>
<!-- Main Container -->
